$animation-duration: 1s;

mat-card {
    margin: 5px;
    width: 30vw;
    height: auto;
}

mat-card-content {
    position: relative;
}

mat-card-actions {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    mat-icon {
        cursor: pointer;
    }
}


img {
    z-index: 100;
    cursor: pointer;
}

img::after {
    content: 'toto';
    width: 100%;
    height: 100%;
    background-color: rgba(61, 19, 19, 0.2);
}

img:hover::after {
    animation: blur $animation-duration;
    animation-fill-mode: forwards;
}


.overlay:hover {
    animation: overlay $animation-duration;
    animation-fill-mode: forwards;
}

@keyframes overlay {
    from { 
        background-color: none;
    }
    to { 
        background-color: rgba(61, 19, 19, 0.2);
    }
}

@keyframes blur {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(2px);
    }
}